<div>
    <h1>Mi Aplicación web</h1>
    <ul>
        <li><button (click)="menu('Usuarios')">Usuarios</button></li>
        <li><button>Roles</button></li>
        <li><button>Recursos</button></li>
    </ul>
    <app-nuevo-componente *ngIf="menuElegido === 'Usuarios'" [prop]="title"></app-nuevo-componente>
    <app-nuevo-componente *ngIf="menuElegido === 'Roles'" [prop]="title"></app-nuevo-componente>
    <app-nuevo-componente *ngIf="menuElegido === 'Recursos'" [prop]="title"></app-nuevo-componente>
</div>