mat-drawer-content {
    width: 100%;
    min-height: 95vh;
}

mat-drawer {
    width: 15%;
}

a {
    cursor: pointer;
}

a:hover {
    color: grey;
}

.active {
    font-style: italic;
    font-variant: small-caps;
}